<div class="display-animation display-animation-s mt-2">
    <div class="content__container">
        <p class="content__container__text">
            Hello
        </p>
        <ul class="content__container__list">
            <li class="content__container__list__item">Welcome to our page</li>
            <li class="content__container__list__item">of business</li>
            <li class="content__container__list__item">We are here</li>
            <li class="content__container__list__item">for you and because of you</li>
        </ul>
    </div>
</div>
